* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(90deg, #277650, #0F5935 , #003B1F);
    padding: 3rem 2rem;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background-color: #123852;
    color: white;
    padding: 1rem;
    margin: 1.5rem;
    width: calc(100% / 5 - 3rem);
    height: 300px;
    border: 3px solid #032236;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px #032236;

    &:hover {
        background-color: #486F88;
        border-color: #486F88;
        cursor: pointer;
    }
}

h2{
    padding-bottom: 2rem;
}

h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

span {
    display: block;
    padding: 0.5rem 0;
}
